{% extends 'blog/base2.html' %}
{% block title_block %}
About Knowledge Hub               
{% endblock title_block %}
{% block body_block %}
<div   class="jumbotron" style="margin-left: 5%;margin-right: 5%;; color: lawngreen;">
    <div class="container">
        <h1>About Knowledge Hub</h1>
    </div>
</div>
<hr>
<div class="jumbotron">
    <div class="container">
        <p>My name is <span id="name">Syed Mohammad Zakriya.</span>I’m a passionate web developer who loves to create and teach things through design, programmming, and blogging. </p>    
        <p> <span id="bname">Knowledge Hub</span> is an open source and free website for gaining knowledge about various fields and current affairs.</p>
        <p>People can enjoy reading content and is very helpful for students and others who are going to take compititutive exams.</p>
        <p>Most of the concepts I write about aren’t my own. They are ideas I discover and build upon after many hours of reading and research. I look for insights from all fields: architecture, biology, economics, history, mathematics, physics, philosophy, and more. I consider it my job to find the best ideas and explain them in a way that is actionable and easy-to-understand.</p>
        <p>Humankind progresses by adding layer upon layer of knowledge. We all benefit from the insights of our ancestors. I like the idea of leaving a great “intellectual inheritance,” and I’m trying to add a little bit of knowledge to the pile by creating this website and sharing my work.</p>
        <p>I don't claim to have all the answers and I still have a lot to learn, but I'm happy to share what I've discovered so far. My work isn’t the only way to think about life, but it’s how I think about it. Hopefully, you’ll find it useful as well.</p>
        <p>You can start by reading my articles.</p>
        <p><span id="thanks">Thanking You</span></p>
    </div>

</div>
{% endblock body_block %}